<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            document.querySelector('form').onsubmit = function () {

                fetch('https://api.exchangeratesapi.io/latest?base=USD')
                .then(response => response.json())
                .then(data => {
                    const currency = document.querySelector('#currency').value.toUpperCase();
                    const rate = data.rates[currency];
                    if (rate !== undefined) {
                        document.querySelector('#result').innerHTML = `1 USD is eqyal to ${rate.toFixed(3)} ${currency}.`;
                    } else {
                        document.querySelector('#result').innerHTML = 'Invalid currency.';

                    }

                })
                  .catch(error => {
                    console.log('Error:', error);
                })
                return false
            }


        })
    </script>
</head>
<body>
    <form>
        <input id="currency" placeholder="Currency" type="text">
        <input type="submit" value="Convert">
    </form>
    <div id="result">

    </div>
</body>
</html>