<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gigigi</title>
    <script src="js/count.js"></script>
</head>
<body>
    <h1>0</h1>
    <button>Count</button>

    <form>
        <input autofocus id="name" placeholder="Name" type="text">
        <input type="submit">
    </form>


    <h2 id="hello">Color</h2>
    <button class="color-button" data-color="red">Red</button>
    <button class="color-button" data-color="blue">Blue</button>
    <button class="color-button" data-color="green">Green</button>


    <select>
        <option value="black">Black</option>
        <option value="blue">Blue</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
    </select>
</body>
</html>